<!doctype html>
<meta charset="UTF-8">
<html>
<head>
    <title>服务端屏幕</title>
    <style>
        img {
            min-width: auto;
            min-height: auto;
            width: {{ zoom }}%;
            height: auto;
            position: absolute;
            z-index: 1; /* 设置视频元素的层级，确保列表框显示在视频上方 */
        }

        /* 内嵌 CSS 样式，设置列表框字体颜色为绿色 */
        #camera-selector {
            color: green;
            position: relative; /* 设置列表框的位置为相对定位，以便调整其层级 */
            z-index: 2; /* 设置列表框的层级，确保其显示在视频上方 */
        }
    </style>
</head>
<body>
<div class="app__layout">
    <main class="app__layout-content" id="video-container">
        <img id="screen" src="/video_screen">
        <button id="camera-selector" onclick="redirectToLocalhost()">返回首页</button>
    </main>
</div>
{#<iframe id="rame" src="https://www.baidu.com" width="1000" height="1600" frameborder="0"></iframe>#}
<script>
    function redirectToLocalhost() {
        window.location.href = "/";
    }
</script>
</body>
</html>
